.medium-header{
    padding: 10px;  
    background-color: rgba(192, 219, 234, 1);
  }
  
  a.medium-header{
    font-size: 96px;
    color: #005686;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: underline;
  }
  button.medium-header{
    width: 100px;
    height: 32px;
    padding: 0px 16px;
    font-weight: 800;
    border-radius: 8px;
    font-size: 12px;
    background: white;
    color: rgb(3,172,14);
    cursor: pointer;
    border: 1px solid rgb(3,172,14);
  }
  .search{
    width: 40%;
    height: 30px;
    border-radius: 8px;
    border: solid 1px var(--N75,#E5E7E9);
  }
  button.medium-header-fill{
    width: 100px;
    height: 32px;
    padding: 0px 16px;
    font-weight: 800;
    border-radius: 8px;
    font-size: 12px;
    background: rgb(3,172,14);
    color: white;
    cursor: pointer;
    border: 1px solid rgb(3,172,14);
  }
  
  button.medium-header-fill-grey{
    width: 100px;
    height: 32px;
    padding: 0px 16px;
    font-weight: 800;
    border-radius: 8px;
    font-size: 12px;
    background: #6C727C;
    color: white;
    cursor: pointer;
    border: 1px solid #6C727C;
  }
  
  a:hover.medium-header{
    text-decoration: none;
    align-content: center;
  }
  .logo{
    border-radius: 15%;
    position: relative;
    top: -1%;
    left: 1%;
  }
  .medium-icon{
    padding-left: 20px;
    padding-right: 20px;
    height: 28px;
  }
  